
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="w3agile-list">
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="{% url 'hotel:menu' %}">Menu</a>
                </li>
                <li>
                    <a href="#">News & Events</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="agileinfo">
            <p>© 2021 Restaurant Management System . All Rights Reserved .
            </p>
        </div>
    </div>
</div>
<!-- //copyright -->
</body>

</html>